.i-phone1415-pro-max1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.i-phone1415-pro-max1-i-phone1415-pro-max1 {
  width: 100%;
  height: 4881px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.i-phone1415-pro-max1-group1 {
  top: -5px;
  left: -1px;
  width: 433.0684509277344px;
  height: 210px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max1-vector1 {
  top: -2px;
  left: -11px;
  width: 433px;
  height: 210px;
  position: absolute;
}
.i-phone1415-pro-max1-undrawhomerunacyh1 {
  top: 40.39693832397461px;
  left: 45.84730529785156px;
  width: 137px;
  height: 123px;
  position: absolute;
}
.i-phone1415-pro-max1-text {
  top: 40.71755599975586px;
  left: 231.1602020263672px;
  color: rgb(255, 255, 255);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: ExtraBold;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text001 {
  color: #ffffff;
}
.i-phone1415-pro-max1-text002 {
  color: #483c46;
}
.i-phone1415-pro-max1-text003 {
  color: rgba(72, 60, 70, 1);
  right: 54px;
  width: 147px;
  bottom: 32px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text014 {
  top: 76.30529022216797px;
  left: 379.9234924316406px;
  color: rgba(72, 60, 70, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-group4 {
  left: 64px;
  width: 352px;
  bottom: -2153px;
  height: 2585px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max1-text016 {
  top: 86px;
  left: 17px;
  color: rgb(72, 60, 70);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text018 {
  color: #483c46;
  font-size: 16px;
  font-family: "Fira Sans";
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text023 {
  top: 42px;
  color: rgb(72, 60, 70);
  right: -70px;
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-group41 {
  top: 1849px;
  left: 69px;
  width: 352px;
  height: 2585px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max1-text028 {
  top: 115px;
  left: 30px;
  color: rgba(72, 60, 70, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text105 {
  top: 25px;
  left: 0px;
  color: rgba(72, 60, 70, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-group3 {
  top: 822px;
  left: 49px;
  width: 710px;
  height: 966px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max1-text107 {
  top: 35px;
  left: 35px;
  color: rgba(72, 60, 70, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text118 {
  color: rgba(72, 60, 70, 1);
  width: 710px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-group2 {
  top: 259px;
  left: 49px;
  width: 333px;
  height: 491px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max1-text120 {
  top: 54px;
  left: 33px;
  color: rgba(72, 60, 70, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text125 {
  color: rgba(72, 60, 70, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-vector2 {
  left: -10px;
  width: 430px;
  bottom: -10px;
  height: 129px;
  position: absolute;
}
.i-phone1415-pro-max1-text127 {
  left: 58px;
  color: rgba(255, 255, 255, 1);
  width: 327px;
  bottom: -5px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Fira Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone1415-pro-max1-text128 {
  color: rgba(255, 255, 255, 1);
}
.i-phone1415-pro-max1-text129 {
  color: rgba(47, 46, 65, 1);
}
.i-phone1415-pro-max1-text133 {
  color: rgba(255, 255, 255, 1);
}
.i-phone1415-pro-max1-undrawhappynewsretsbd1 {
  left: 288px;
  width: 91px;
  bottom: 58px;
  height: 77px;
  position: absolute;
}
